---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Form from "../components/Form.astro";

import sellImg from "../assets/images/sell.png";
import houseImg from "../assets/images/house.svg";
import sketchImg from "../assets/images/sketch.svg";
import paymentImg from "../assets/images/payment.svg";

const { breadcrumb = "Sell Your Home" } = Astro.props;
const page = "sell"
---

<Layout>
  <section class="heading-bg-img text-white dark:text-white">
    <div class="cont pb-12">
      <h1 class="h1 pt-12">Sell Your Home</h1>
      <p class="font-medium text-3xl mt-4">Sell Your House Today</p>
      <p class="mt-4 mb-8 font-bold">Home <img class="inline" src="/images/arrow.png"></img> {breadcrumb}</p>

      <Form page={page}/>
    </div>
  </section>
  <section class="mt-40 text-white dark:text-white ">
    <div class="tab-wrapper flex gap-8 cont">
      <Image class="hidden lg:block" src={sellImg} alt="" />
      <ul
        aria-labelledby="tab-title"
        class="tabs grid gap-4 flex-shrink"
      >
        <li class="tab-header bg-background text-nowrap active">
          <a href="#step-1" id="tab-1" class="p-8 block text-center"
            ><Image class="mx-auto" src={houseImg} alt="" /><p>Step 1</p></a
          >
        </li>
        <li class="tab-header bg-background text-nowrap">
          <a href="#step-2" id="tab-2" class="p-8 block text-center"
            ><Image  class="mx-auto" src={sketchImg} alt="" /><p>Step 2</p></a
          >
        </li>
        <li class="tab-header bg-background text-nowrap">
          <a href="#step-3" id="tab-3" class="p-8 block text-center"
            ><Image class="mx-auto" src={paymentImg} alt="" /><p>Step 3</p></a
          >
        </li>
      </ul>
      <div class="tab-content-wrapper">
          <article id="step-1" class="text-black dark:text-white">
            <p class="eyebrow">Step 1
                </p>
            <h2 class="mt-2 text-3xl font-bold accent-underline ">Selling your home is quick and easy with JL Home Sale</h2>
            <p class="mt-4">
                Give us a call at (866) 384-0233 or fill out our online form. We will get a FREE, no obligation appointment set to meet with you around the purchase of your home.</p>
            <a class="btn btn-primary mt-8" href="/cash">Get a Cash Offer</a>
          </article>
          <article id="step-2" class="text-black">
              <p class="eyebrow">Step 2
            </p>
            <h2 class="mt-2 text-3xl font-bold accent-underline">Selling your home is quick and easy with JL Home Sale</h2>
            <p class="mt-4">
                We work with you to view your home in a timely manner. We can be flexible to your schedule and our home assessment takes no more than 30 minutes.</p>
                <a class="btn btn-primary mt-8" href="/cash">Get a Cash Offer</a>
            </article>
            <article id="step-3" class="text-black">
                <p class="eyebrow">Step 3
                </p>
                <h2 class="mt-2 text-3xl font-bold  accent-underline">Selling your home is quick and easy with JL Home Sale</h2>
                <p class="mt-4">
                    We charge no commissions, we pay your closing costs, and we buy the home in any condition. After the assessment is complete, we simply make you an offer on the spot.</p>
                    <a class="btn btn-primary mt-8" href="/cash">Get a Cash Offer</a>
                </article>
            </div>
    </div>
  </section>

  
</Layout>
<style>

  .tab-header{
    width:clamp(4rem,30vw,16rem)
    
  }

 
</style>
